
*.pdf

*.docx

*.html

*.xml

.idea/moodle_spider.iml

.idea/.name

info.ini

cookie.txt

*.m

*.tif

*.zip

Fundamental Biomedical Signal Processing (FBSP)/1D Signal Processing (Jan Ole Pedersen) Folder/Corrections BMIP

*.mat

*.png

*.doc

spider_test.py

Medical Imaging Techniques (MIT)/Lecture plan MIT 2015

Attention things of windows and mac

temp/spider_for_win.py

temp/spider_for_mac.py
